section(layout layout-align='center center')
md-card
  -<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
  	-md-card-title
    	md-card-title-text
      		span(class="md-headline")Vertical action buttons
    	p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
  	-md-card-actions(layout="column" layout-align="start")
    	md-button Action 1
    	md-button Action 2