h1 404 error
//
  -var cover404 = require('../assets/images/404.jpg')

  section(layout-gt-sm="row" layout-align="center center")

  	md-card(flex-gt-sm="75" flex-gt-md="50")

  		ye-cover(picture='#{cover404}' class='br-1100')

  		md-subheader(class='md-warn md-no-sticky' ng-show='e404.failState != ""')
  			| {{ 'HTTP.404.PAGE' | uppercase | translate:{page: e404.failState} | capitalize }}

  		section(class="md-actions" layout="row" layout-align='end center'
  			ng-class='{"pt-0": e404.failState != ""}')
  			md-button(class='mr-10 mb-10' ng-click='layout.go("dashboard")')
  				| {{'HTTP.404.RETURN_HOME' | translate | capitalize }}
