section(layout layout-align='center center')
	md-card(flex-gt-sm="45" flex="100" class="toolbar-section")
		p help
//
	md-toolbar(class="md-tall toolbar-help")
		section(layout-gt-sm="row" layout-align="center center")
			md-card(flex-gt-sm="45" flex="100" class="toolbar-section")
				h2(class="pad-t dropdown-title") Welcome to San Isidro Space Help Center
				md-divider
				p(class="mdi mdi-plus pad-i" aria-label="plus"): span.pad Get Started with San Isidro Space
					p.pad-t How to create a new organization				
						br
						span When you run, for the first time, the platform will ask about your company's photo, comercial name, social name, RUC and phone.
					p.pad-t How to modify a company information
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Edit button in Organization section.
				md-divider
				p(class="mdi mdi-plus pad-i" aria-label="plus"): span.pad Trucks
					p.pad-t How to locate a truck
						br
						span Go to sanisidro.space/dashboard, after you log-in and click 'Show Ubication'.
					p.pad-t How to add a new truck
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Add (+) button in Trucks section, will ask about truck's photo, license plate, license plate lateral, model, brand, aka, tara, status, ubication and description.
					p.pad-t How to modify a truck
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Edit button in Trucks section.
					p.pad-t How to delete a truck
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Delete button in Trucks section.
				md-divider
				p(class="mdi mdi-plus pad-i" aria-label="plus"): span.pad Workers
					p.pad-t How to add a new worker
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Add (+) button in Workers section, will ask about work's photo, license plate, license plate lateral, model, brand, aka, tara, status, ubication and description.
					p.pad-t How to modify a work
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Edit button in works section.
					p.pad-t How to delete a work
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Delete button in Trucks section.
				md-divider
				p(class="mdi mdi-plus pad-i" aria-label="plus"): span.pad Routes
					p.pad-t How to add a new routes
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Add (+) button in Workers section, will ask about work's photo, license plate, license plate lateral, model, brand, aka, tara, status, ubication and description.
					p.pad-t How to modify a work
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Edit button in works section.
					p.pad-t How to delete a work
						br
						span Go to sanisidro.space/dashboard, after you log-in and click on Delete button in Trucks section.	
