form(novalidate = '' name = 'form')

  ye-input(label='fields.username' field='username' icon='mdi mdi-account' required)
  ye-input(label='fields.password' field='password' icon='mdi mdi-key' required type='password')

  form-actions(label='login')
