doctype html
html(lang='en')
  head
    title traru
    base(href='/')
    meta(charset='utf-8')
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1")
    meta(name='description' content='traru app')

  body(ng-controller='rootController as vmRoot')

    include ./_spinner-main.jade

    main(ui-view)

    script(src='build/vendor.bundle.js')
    script(src='build/app.bundle.js')
