div(class='md-toolbar-tools md-whiteframe-z1')

  md-button(
  	aria-label = 'settings'
  	ng-click = 'layout.sidenavAction("left", true)'
    class = 'md-icon-button'
  )
    md-icon(md-font-icon='mdi mdi-menu')

  span {{layout.ui.appbar.title | uppercase | translate | uppercase}}
  
  span(flex = true)

  md-button(
    ng-click = 'layout.refresh()'
    aria-label = 'refresh page'
    class = 'md-icon-button'
  )
    md-icon(md-font-icon='mdi mdi-refresh')

  md-menu(md-position-mode="target-right target"
    ng-if='layout.data.dataUser.settings.langsAvaibles.length > 1')
    md-button(class='md-icon-button' aria-label="show settings", ng-click="$mdOpenMenu()")
      md-icon(md-menu-origin="", md-font-icon="mdi mdi-flag")
    md-menu-content
      md-menu-item(ng-repeat = 'lang in layout.data.dataUser.settings.langsAvaibles')
        md-button(ng-click="layout.changeLanguage(lang)"): span {{'LANGUAGES.' + lang | uppercase | translate | capitalize}}

  md-button(
    ng-if = 'layout.data.loggued && !layout.data.initialize'
    ng-click = 'layout.settings()'
    aria-label = 'user config'
    class = 'md-icon-button'
  )
    md-icon(md-font-icon='mdi mdi-account')

  md-menu(ng-if='layout.data.loggued' md-position-mode="target-right target")
    md-button(class='md-icon-button' aria-label="show settings", ng-click="$mdOpenMenu()")
      md-icon(md-menu-origin="", md-font-icon="mdi mdi-dots-vertical")
    md-menu-content
      md-menu-item: md-button(ng-click="layout.settings()"): span {{'SETTINGS' | uppercase | translate | capitalize}}
      md-menu-item: md-button(ng-click="layout.logout()"): span {{'LOGOUT' | uppercase | translate | capitalize}}
