section(md-theme='company' layout layout-align='center center')

  div(flex-sm='100' flex-gt-sm="55" flex-gt-md="33")
    md-card
      md-card-content: p {{'SECTIONS.INIT_COMPANY.MESSAGE' | translate | capitalize}}
    md-card
      company-form(main form-success='vm.formSuccess()')

