md-toolbar
	include ./appbar.jade

md-sidenav(
	fix-overlay=''
	md-component-id = 'left' class = 'md-whiteframe-z2 md-sidenav-left')
	include ./sidenav-left.jade

md-content(
	ui-view='content'
	class='fx-speed-750 fx-zoom-down'
	ng-class='layout.ui.content.classContainer')

md-sidenav(
	md-component-id = 'right'
	class = 'md-sidenav-right'
	ng-class = 'layout.ui.sidenav.right.type')
	include ./sidenav-right.jade
