ye-cover(picture='static/images/cover.jpg')

md-list

  md-list-item(
    ng-hide = 'layout.data.initialize'
    ng-click='layout.go(layout.ui.loggued ? "dashboard" : "login")'
  )
    md-icon(md-font-icon='mdi mdi-{{layout.ui.loggued ? "view-dashboard" : "key"}}')
    p {{layout.ui.loggued ? 'SECTIONS.DASHBOARD' : "SECTIONS.LOGIN" | uppercase | translate | capitalize}}
    
  md-list-item(
    ng-repeat='item in layout.menu'
    ng-if='layout.ui.loggued && !item.noDisplay'
    ng-click='layout.go(item.pluralName , true)'
  )
    md-icon(md-font-icon = 'mdi mdi-{{item.icon}}')
    p {{item.name | uppercase | translate | capitalize}}

  md-divider

  md-list-item(ng-click='layout.go("help", true)')
    md-icon(md-font-icon='mdi mdi-help-circle')
    p {{'SECTIONS.HELP' | uppercase | translate | capitalize}}

  md-list-item(ng-click = 'layout.ui.settings()' ng-if ='layout.ui.loggued')
    md-icon(md-font-icon = 'mdi mdi-settings')
    p {{'ACTIONS.SETTINGS' | uppercase | translate | capitalize}}

  md-list-item(ng-click = 'layout.ui.logout()' ng-if = 'layout.ui.loggued')
    md-icon(md-font-icon = 'mdi mdi-logout')
    p {{'ACTIONS.LOGOUT' | uppercase | translate | capitalize}}
