:root {
  --color-border: rgba(0, 0, 0, .25);
  --screen-sm: 600px;
  --screen-md: 960px;
  --screen-lg: 1200px;
  --bg-color: #ccc;
}

@custom-media --screen-sm screen and (min-width: 600px);
@custom-media --screen-sm-max screen and (max-width: 600px);

@custom-media --screen-md screen and (min-width: 960px);
@custom-media --screen-lg screen and (min-width: 1200px);

