h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

.br-1100 {
  border-radius: 2px 2px 0 0;
}

.mr-0 {
  margin-right: 0;
  @nest & .md-subheader-inner {
    padding-left: 0;
  }
}

label {
  @extend text-overflow;
}

.spinner--content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.spinner--main {
  transition: all .25s ease;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgb(0,150,136);
  color: rgb(255,171,64);
}

section.container-cards {
 padding: 8px;

  @media (--screen-sm) {
    padding: 16px;
  }

  @nest & > md-card {
    margin: 0 0 8px 0;
    @nest &:last-of-type {
      margin: 0;
    }
    @media (--screen-sm) {
      margin: 0 0 16px 0;
      @nest &:last-of-type {
        margin: 0;
      }
    }
  }
}
/****/
html {
  background: transparent;
}

body {
  background-color: var(--bg-color);
}

main {
  /*height: 100%;*/
  @nest & > div {
    height: 100%;
    @nest & > md-content {
      background-color: transparent;
      /*
      height: calc(100% - 56px);

      @media (--screen-sm) {
        height: calc(100% - 64px);
      }
      */
    }
  }
}

.section--inner {

  @nest & md-toolbar {
    width: 8px;
  }

  @nest & > *:not(md-toolbar) {
    width: calc(100% - 8px);
  }

}

ye-input {
  display: block;
}

/*
  // Reset and fix angular-material
*/

md-input-container.md-icon-float.md-input-focused,
md-input-container.md-icon-float.md-input-has-value {
  margin-top: 4px;
}

md-menu-item > .md-button md-icon {
  margin-right: 0;
}

md-icon.mdi {
  font-size: 24px;
}

md-radio-group[ng-model][role],
md-radio-button[role][aria-label] {
  background-color: transparent;
}

md-radio-button[role][aria-label] {
  color: rgba(0, 0, 0, 0.75);
}

md-tabs {
  border-radius: 0;
}

md-toolbar {
  @nest & span:first-of-type {
    @extend text-overflow;
  }
}

md-dialog {
  @media (--screen-sm) {
    width: 450px;
  }
  @media (--screen-md) {
    width: 720px;
  }
}

md-sidenav {

  @media (max-width: 360px) {
    min-width: auto;
    width: calc(100% - 48px);
  }

  @nest &.x2 {
    @media (--screen-sm) {
      width: 450px;
      max-width: none;
    }
  }

}

/*
//  FIX
*/
md-tabs.md-client-theme .md-tab.md-active,
md-tabs.md-client-theme .md-tab.md-active md-icon,
md-tabs.md-client-theme .md-tab.md-focused,
md-tabs.md-client-theme .md-tab.md-focused md-icon {
  color: rgb(0,150,136);
}

md-toolbar .md-menu {
  @media screen and (max-width: 600px) {
    position: relative;
    top: -4px;
  }
}

md-backdrop,
md-toast,
md-sidenav {
  position: fixed;
}

module-list-wrapper,
md-list {
  overflow: hidden;
  position: relative;
}

module-list-wrapper {
  //padding: 8px 0;
  min-height: 56px;
}

md-list-item {

  position: relative;
  margin: 8px 0;

  @nest & .md-list-item-text {
    width: 100%;
    @nest & h3 {
      color: rgba(0, 0, 0, .85);
    }
    @nest & h4 {
      color: rgba(0, 0, 0, .65);
    }
  }

  @nest & p:first-of-type {
    @extend text-overflow;
  }

  @nest & md-menu {
    position: absolute;
    right: 2px;
    top: calc(50% - 32px);
    z-index: 1;
  }

  @nest &.md-3-line,
  @nest &.md-3-line > .md-no-style {
    @media screen and (max-width: 600px) {
      min-height: 72px;
    }
    @media (--screen-sm) {
      min-height: 86px;
    }
  }

  @nest &.md-2-line {
    @media screen and (max-width: 600px) {
      min-height: 48px;
    }
    @media (--screen-sm) {
      min-height: 56px;
    }
  }

}

.md-subheader {
  line-height: 1.5;
}
