section(layout-md layout-gt-md layout-wrap)

  truck-list(module='dashboard.moduleTruck' flex-md='50' flex-gt-md='33')
  worker-list(module='dashboard.moduleWorker' flex-md='50' flex-gt-md='33')
  traru-list(module='dashboard.moduleCompany' flex-md='50' flex-gt-md='33')
  client-list(module='dashboard.moduleClient' flex-md='50' flex-gt-md='33')
  route-list(module='dashboard.moduleRoute' flex-md='50' flex-gt-md='33')

