section(layout-md layout-gt-md layout-wrap)

  traru-list(module='dashboard.moduleCompany' flex-md='50' flex-gt-md='33')
  worker-list(module='dashboard.moduleWorker' flex-md='50' flex-gt-md='33')
  client-list(model='dashboard.moduleClient' flex-md='50' flex-gt-md='33')
  route-list(model='dashboard.moduleRoute' flex-md='50' flex-gt-md='33')
  truck-list(model='dashboard.moduleTruck' flex-md='50' flex-gt-md='33')

