md-subheader(ng-if='!!!truck.item' class='md-warn') there's no truck(data incomplete)

md-subheader(ng-if='!!truck.item && truck.item.length === 0' class='md-warn') there's no truck selected

section(ng-if='!!truck.item')
  ye-cover(picture='api/pictures/trucks/download/{{truck.item.photo}}')
  md-list
    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.LICENSEPLATE' | translate}}
        h4 {{::truck.item.licensePlate}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.LICENSEPLATELATERAL' | translate}}
        h4 {{::truck.item.licensePlateLateral}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.MODEL' | translate}}
        h4 {{::truck.item.model}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.BRAND' | translate}}
        h4 {{::truck.item.brand}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.AKA' | translate}}
        h4 {{::truck.item.aka}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.TARE' | translate}}
        h4 {{::truck.item.tare}}

    md-list-item(cclass='md-2-line')
      div(class="md-list-item-text")
        h3 {{'FIELDS.UBICATION' | translate}}
        h4(geo-text='truck.item.ubication')
